## Q03 SUNGHYUN

In [10]:
import pandas as pd

file_path = "/Users/parkyejun/Downloads/3_AB.csv" #데이터 불러오기러오기
df = pd.read_csv(file_path)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [12]:
df['id'] = df['id'].astype('object')
df['host_id'] = df['host_id'].astype('object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  object
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  object
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 6.0+ MB

In [13]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [14]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [15]:
# unique값에 대한 summary와 na값에 대한 summary가 츌력되는 함수
def create_summary(df):
    n_unique_df = {}
    n_na_df = {}
    for col in df.columns:
        n_na_df[col] = [df[col].isna().sum()/len(df)*100]
        n_unique_df[col] = [df[col].nunique()]
    n_unique_d = pd.DataFrame.from_dict(data= n_unique_df).T.sort_values(by =0).reset_index()
    n_na_d = pd.DataFrame(n_na_df).T.sort_values(by = 0).reset_index()
    n_na_d.columns = ['index', 'n_na']
    n_unique_d.columns = ['index', 'n_unique']
    return n_unique_d, n_na_d

n_unique_d, n_na_d = create_summary(df)

print(" 각 열의 고유값(unique) 개수 요약:")
print(n_unique_d)

print("\n 각 열의 결측값(NA) 비율 요약:")
print(n_na_d)

 각 열의 고유값(unique) 개수 요약:
                             index  n_unique
0                        room_type         3
1              neighbourhood_group         5
2   calculated_host_listings_count        47
3                   minimum_nights       109
4                    neighbourhood       221
5                 availability_365       366
6                number_of_reviews       394
7                            price       674
8                reviews_per_month       937
9                      last_review      1764
10                       host_name     11452
11                       longitude     14718
12                        latitude     19048
13                         host_id     37457
14                            name     47905
15                              id     48895

 각 열의 결측값(NA) 비율 요약:
                             index       n_na
0                               id   0.000000
1                          host_id   0.000000
2              neighbourhood_group   0.000000
3                    neighbourhood   0.000000
4                         latitude   0.000000
5                        longitude   0.000000
6                        room_type   0.000000
7                            price   0.000000
8                   minimum_nights   0.000000
9                number_of_reviews   0.000000
10  calculated_host_listings_count   0.000000
11                availability_365   0.000000
12                            name   0.032723
13                       host_name   0.042949
14                     last_review  20.558339
15               reviews_per_month  20.558339

In [8]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [16]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import pandas as pd
# IQR로 outlier 처리
def check_outlier(df, threshold=1.5):
        for col in df.select_dtypes(include=['int', 'float']):
            if col != 'availability_365':
                Q1 = df[col].quantile(0.25)
                Q3 = df[col].quantile(0.75)
                IQR = Q3 - Q1
                lower_bound = Q1 - threshold * IQR
                upper_bound = Q3 + threshold * IQR
                df[col] = df[col].clip(lower_bound, upper_bound)
        return df

#모든 전처리를 한번에 해주는 함수
def d_converter(df, unique_threshold = 5):
    df = df.copy()
    
    # 이상치 처리
    df = check_outlier(df, threshold=1.5)

    # numeric 변수 minmax scaling
    for col in df.select_dtypes(include=['int', 'float']):
        if col != 'availability_365':
        #평균으로 결측치 처리... 다른 방법으로 할 수 있으면 해보십숑 interpolate도 가능
            df[col] = df[col].fillna(df[col].mean())
            scaler = MinMaxScaler()
            df[col] = scaler.fit_transform(df[[col]])

    # categorical 변수를 인코딩
    for col in df.select_dtypes(include=['object', 'category']):
        if col != 'availability_365':
            df[col] =df[col].fillna(df[col].mode())
            #5개 이상이면...label encoding인데 기준 바꾸어도됨 상황따라서
            if df[col].nunique() >= unique_threshold:
                le = LabelEncoder()
                df[col] = le.fit_transform(df[col])
            else:
                dummies = pd.get_dummies(df[col], prefix=col)
                df = pd.concat([df.drop(columns=[col]), dummies], axis=1)
                for new_col in dummies.columns:
                    if new_col not in df.columns:
                        df[new_col] = 0
                    df[new_col] = df[new_col].astype('int')

    return df

In [18]:
df = d_converter(df)
df.drop(['id', 'name', 'host_id', 'host_name'], axis=1, inplace=True)